.home{
  margin-top: 15%;
  .home-icon{
    color: #00bcd4;
    font-size: 24px;
  }
  .home-button{
    background-color: #00bcd4;
  }
  .subtitle{
    color: #aaa;
    margin-bottom: 30px;
  }
  .subtitle2{
    color: #00bcd4;
    margin-bottom: 40px;
  }
}